@font-face {
  font-family: "iconfont"; /* Project id 3492117 */
  src: url('~@/static/iconfont/iconfont.woff2?t=1656559687290') format('woff2'),
       url('~@/static/iconfont/iconfont.woff?t=1656559687290') format('woff'),
       url('~@/static/iconfont/iconfont.ttf?t=1656559687290') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e62d";
}

.icon-fangdajing:before {
  content: "\e60b";
}

.icon-icon:before {
  content: "\e6a0";
}

.icon-yousanjiao:before {
  content: "\e629";
}

.icon-guanbi:before {
  content: "\e6cc";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e62a";
}

.icon-bofang_o:before {
  content: "\eb5e";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-zuojiantou:before {
  content: "\e60c";
}

.icon-fenxiang:before {
  content: "\e601";
}

